:root {
	--padding: 2rem;
}


body {
	background-color: #f5e2f1;
}


a {
	color: rgb(117, 7, 7);
	font-weight: 700;
	font-style: italic;
	text-decoration: none;
}


a:hover {
	color: #323eaf;
	text-decoration: none;
}


.navigation_bar {
	justify-content: space-between;
	align-items: center;
}


.main_navigation {
	list-style: none;
	gap: var(--padding);
	position:fixed;
	inset: 0 0 0 35%;
	flex-direction: column;
	padding: min(15vh, 10rem) 2rem;
	margin: 0;
	z-index: 1000;

	background: rgba(0, 0, 0, 1);
	transform:translateX(100%);
}

.main_navigation[data-visible="true"] {
	transform:translateX(0%);
}

.navigation_item {
	display: inline-block;
}

.flex {
	display: flex;
}


/*Logo*/

.logo_desktop {
	display: none;
}

.logo_mobile {
	max-width: 6rem;
	position: absolute;
	top: 0;
	left: 0;

}

/*Button menu*/

.button_menu {
	background: url('./../assets/menu.png');
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	display: block;
	position: absolute;
	width: 2rem;
	aspect-ratio: 1;
	top: var(--padding);
	right: var(--padding);

	z-index: 9000;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/*Navigation*/
@media screen and (min-width:44rem) {
	.button_menu {
		display: none;
	}

	.main_navigation {
		position: absolute;
		background-color: #f5e2f1;
		flex-direction: row;
		align-items: center;
		inset: auto;
		top: 0;
		right: 0;
		left:22%;
		flex-wrap: wrap;
		gap: 2rem;
		padding: 1rem;
		transform: translateX(0%);
	}

	.logo_mobile {
		display: none;
	}

	.logo_desktop {
		display: initial;
		width: 20%;
		min-height: 5rem;
		position: absolute;
		top: 0;
		left: 0;
	}

}
